# Ignore Python virtual environments
backend\venv\
backend\.venv\

# Ignore the lib directory created in the virtual environment
backend\venv\lib\
backend\.venv\lib\

# Ignore Python bytecode files
backend\__pycache__\
backend\*.pyc

# Ignore environment-specific files (such as .env files)
backend\.env

# Ignore log files
*.log

# Ignore operating system-specific files
Thumbs.db   # Windows
Desktop.ini # Windows

# Ignore the React build and node_modules in the frontend folder
frontend\node_modules\
frontend\build\

# Ignore package-lock.json or yarn.lock (if you use yarn, you may want to ignore yarn.lock)
frontend\package-lock.json
frontend\yarn.lock
